@font-face {
  font-family: "Roboto Regular";
  src:  url('../../../front_src/src/fonts/fonts-generated/roboto-regular-webfont.woff2') format('woff2'),
        url('../../../front_src/src/fonts/fonts-generated/roboto-regular-webfont.woff') format('woff'),
        url('../../../front_src/src/fonts/fonts-generated/roboto-regular-webfont.ttf') format('truetype');
}

@font-face {
    font-family: "Roboto Light";
    src:  url('../../../front_src/src/fonts/fonts-generated/roboto-light-webfont.woff2') format('woff2'),
          url('../../../front_src/src/fonts/fonts-generated/roboto-light-webfont.woff') format('woff'),
          url('../../../front_src/src/fonts/fonts-generated/roboto-light-webfont.ttf') format('truetype');
}

@font-face {
    font-family: "Roboto Medium";
    src:  url('../../../front_src/src/fonts/fonts-generated/roboto-medium-webfont.woff2') format('woff2'),
          url('../../../front_src/src/fonts/fonts-generated/roboto-medium-webfont.woff') format('woff'),
          url('../../../front_src/src/fonts/fonts-generated/roboto-medium-webfont.ttf') format('truetype');
}

@font-face {
    font-family: "Roboto Bold";
    src:  url('../../../front_src/src/fonts/fonts-generated/roboto-bold-webfont.woff2') format('woff2'),
          url('../../../front_src/src/fonts/fonts-generated/roboto-bold-webfont.woff') format('woff'),
          url('../../../front_src/src/fonts/fonts-generated/roboto-bold-webfont.ttf') format('truetype');
}

body {
    margin: 0;
}

.charts {
    margin-bottom: 5px;
}

.alertMessage {
    font-family: "Roboto Regular";
    display: block;
}

.apexcharts-title-text {
    font-size: 20px;
    font-family: "Roboto Regular";
}

.apexcharts-subtitle-text {
    font-family: "Roboto Regular";
    font-size: 20px;
}

.errorWrapper {
    width: 100%;
    height: 100%;
    text-align: center;
}

.centreonLogo {
    display: inline-block;
    margin: 2% auto;
}

.warningMessage {
}

.errorMessage {
}

.fontWarningIcon {
    display: block;
    color: #FEB019;
}

.fontErrorIcon {
    display: block;
    color: #FF4560;
}

.fa {
    margin-top:5%;
    font-size: 5em;
}
