@font-face {
  font-family: "Roboto Regular";
  src:  url('../../../front_src/src/fonts/fonts-generated/roboto-regular-webfont.woff2') format('woff2'),
        url('../../../front_src/src/fonts/fonts-generated/roboto-regular-webfont.woff') format('woff'),
        url('../../../front_src/src/fonts/fonts-generated/roboto-regular-webfont.ttf') format('truetype');
}

@font-face {
    font-family: "Roboto Light";
    src:  url('../../../front_src/src/fonts/fonts-generated/roboto-light-webfont.woff2') format('woff2'),
          url('../../../front_src/src/fonts/fonts-generated/roboto-light-webfont.woff') format('woff'),
          url('../../../front_src/src/fonts/fonts-generated/roboto-light-webfont.ttf') format('truetype');
}

@font-face {
    font-family: "Roboto Medium";
    src:  url('../../../front_src/src/fonts/fonts-generated/roboto-medium-webfont.woff2') format('woff2'),
          url('../../../front_src/src/fonts/fonts-generated/roboto-medium-webfont.woff') format('woff'),
          url('../../../front_src/src/fonts/fonts-generated/roboto-medium-webfont.ttf') format('truetype');
}

@font-face {
    font-family: "Roboto Bold";
    src:  url('../../../front_src/src/fonts/fonts-generated/roboto-Bold-webfont.woff2') format('woff2'),
          url('../../../front_src/src/fonts/fonts-generated/roboto-Bold-webfont.woff') format('woff'),
          url('../../../front_src/src/fonts/fonts-generated/roboto-Bold-webfont.ttf') format('truetype');
}

body {
    margin: 0;
}

#chart {
}

.alertMessage {
    font-family: "Roboto Regular";
    display: block;
}

/* .apexcharts-title-text {
    font-weight: bold;
    font-size: 20px;
    font-family: sourcesans;
}

.apexcharts-subtitle-text {
    font-family: sourcesans;
    font-size: 20px;
}
.apexcharts-datalabel {
    font-weight: bold;
    color: #000;
    font-size: 20px;
    text-rendering: geometricPrecision;
    letter-spacing: 2px;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    -moz-text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}
.xAxisCSS {
    font-weight: bold;
}

.yAxisCSS {
    font-weight: normal;
}

.apexcharts-yaxis-texts-g {
}

.apexcharts-yaxis-label {
    font-size: 15;
} */

.errorWrapper {
    width: 100%;
    height: 100%;
    text-align: center;
}

.centreonLogo {
    display: inline-block;
    margin: 2% auto;
}

.warningMessage {
}

.errorMessage {
}

.fontWarningIcon {
    display: block;
    color: #FEB019;
}

.fontErrorIcon {
    display: block;
    color: #FF4560;
}

.fa {
    margin-top:5%;
    font-size: 5em;
}
